---
import Layout from "../layouts/Layout.astro";

---


<Layout title="About SpaceX Lauches">
    <h1>In this section you will find a lot of information about the SpaceX Launches</h1>

    <p>This is a demo from my firts project with Astro</p>
</Layout>
